.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
Form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.form-group-colomb {
  display: flex;
  flex-direction: column;
}

label {
  display: inline-block;
  width: 150px; 
  margin-right: 10px;
}

.custom-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.custom-checkbox input[type="checkbox"] {
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.reset-btn {
  background-color: lightgray;
  color: black;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
